:root {
    --color-background: #242424;
    --color-text: #FFFFFF
}

.header{
    width: 15em; 
    height: 15em;
    padding-top: 4em;
}

.center {
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
    justify-content: center;
}

.paragraph{
    margin-top: 0.8em;
    margin-bottom: 1.5em;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
}

a {
    color: var(--color-text);
}

p{
    margin-top: 0.5em;
    margin-bottom: 0em;
}
