:root {
    --color-background: #242424;
    --color-text: #FFFFFF
}

.content-body{
    margin-left: 8%;
    margin-right: 8%;
}

.connect-4-logo{
    width: 15em; 
    height: 15em;
    padding-top: 1.5em;
}

.center {
    text-align: center;
    margin-left: 8%; 
    margin-right: 8%;
    justify-content: center;
}

.paragraph{
    padding-top: 0.8em;
    padding-bottom: 1.5em;
}

.small-text{
    font-size: small;
}

.online-num{
    display: inline;
}

.game-menu-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.game-menu{
    align-self: center;
}

.game-button-container{
    padding-bottom: 1em;
    align-self: center;
}

.pure-button{
    min-width: 12em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.join-menu-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hidden-menu{
    display: none;
}

.error-text{
    color: red;
    max-width: 20em;
    text-align: center;
    padding-bottom: 1em;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
}

a {
    color: var(--color-text);
}

p {
    margin: 0%;
}


/*** Media Changes ***/

/* Tablets */
@media (min-width: 480px){
    .content-body{
        margin-left: 12%;
        margin-right: 12%;
    }
}

/* Desktop */
@media (min-width: 1024px){
    .content-body{
        margin-left: 15%;
        margin-right: 15%;
    }
}