.header{
    display: inline-flex;
    text-align: center;
    align-items: center;
    padding: 1em;
}

.center {
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
    justify-content: center;
}

.board-flex{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border: 0.5em;
    border-color: blue;
    border-style: solid;
    border-radius: 3%;
}

.pure-g{
    display: inline-flex;
    flex-flow: nowrap;
}

.dot-container{
    width: 3em;
    height: 3em;
    border-style: solid;
    border-color: blue;
    background-color: blue;
}

.dot:hover{
    background-color: lightgray;
}

.dot {
    height: 3em;
    width: 3em;
    background-color: white;
    border-radius: 50%;
    margin: 0;
}

.red-dot {
    height: 3em;
    width: 3em;
    background-color: red;
    border-radius: 50%;
    margin: 0;
}

.yellow-dot {
    height: 3em;
    width: 3em;
    background-color: yellow;
    border-radius: 50%;
    margin: 0;
}

.invis {
    visibility: hidden;
}

h1{
    padding-left: 0.6em;
}

/* Falling animation code -- Will figure out later*/
.red-dot-anim{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    margin: 0;
    animation-name: drop;
    animation-duration: 0.4s;
}

.yello-dot-anim{
    height: 3em;
    width: 3em;
    background-color: yellow;
    border-radius: 50%;
    margin: 0;
    animation-name: drop;
    animation-duration: 0.4s;
}

@keyframes drop{
    0%	{margin-top: 5px; background-color:red;}
    10%	{margin-top: 10px;}
    20%	{margin-top: 15px;}
    30%	{margin-top: 20px;}
    40%	{margin-top: 25px;}
    50%	{margin-top: 30px;}
    60%	{margin-top: 35px;}
    70%	{margin-top: 40px;}
    80%	{margin-top: 45px;}
    90%	{margin-top: 50px;}
    100%{margin-top: 55px; background-color:white;} 

}