:root {
    --color-1: #4DD0E1;
    --color-2: #AB47BC;
    --color-board: #505050;
    --color-background: #242424;
    --color-background-hover: #d4d4d470;
    --color-text: #FFFFFF
}

.header{
    display: inline-flex;
    text-align: center;
    align-items: center;
    padding: 1em;
}

.center {
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
    justify-content: center;
}

.board-flex{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border: 0.5em;
    border-color: var(--color-board);
    border-style: solid;
    border-radius: 3%;
    background: var(--color-board);
}

.pure-g{
    display: inline-flex;
    flex-flow: nowrap;
}

.dot-container{
    width: 3em;
    height: 3em;
    border: 0.3em solid transparent;
}

.dot {
    height: 3em;
    width: 3em;
    background-color: var(--color-background);
    border-radius: 50%;
    margin: 0;
}

.red-dot {
    background-color: var(--color-2)
}

.yellow-dot {
    background-color: var(--color-1)
}

@media (hover :hover){
    .dot:hover{
        background-color: var(--color-background-hover);
    }

    .red-dot:hover {
        background-color: var(--color-2)
    }
    
    .yellow-dot:hover {
        background-color: var(--color-1)
    }  
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
.invis {
    visibility: hidden;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
}

a {
    color: var(--color-text);
}

h1 {
    padding-left: 0.6em;
}

/* Falling animation code -- Will figure out later*/
.red-dot-anim{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    margin: 0;
    animation-name: drop;
    animation-duration: 0.4s;
}

.yello-dot-anim{
    height: 3em;
    width: 3em;
    background-color: #AF16DB;
    border-radius: 50%;
    margin: 0;
    animation-name: drop;
    animation-duration: 0.4s;
}

@keyframes drop{
    0%	{margin-top: 5px; background-color:#93DB16;}
    10%	{margin-top: 10px;}
    20%	{margin-top: 15px;}
    30%	{margin-top: 20px;}
    40%	{margin-top: 25px;}
    50%	{margin-top: 30px;}
    60%	{margin-top: 35px;}
    70%	{margin-top: 40px;}
    80%	{margin-top: 45px;}
    90%	{margin-top: 50px;}
    100%{margin-top: 55px; background-color:white;} 

}